# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente virtual (Poetry)
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Variáveis de ambiente
.env

# Banco local / arquivos temporários
*.sqlite3
*.db

# Cache de testes
.pytest_cache/
.coverage
htmlcov/

# Lint/format cache
.ruff_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db
